body {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: oldlace;

}

li {
  line-height: 28px;
  color: black;

}


h1 {
  font-size: 40px;
  color: black;
}

h2 {
  font-size: 35px;
  color: #997a8d;
}

h3 {
  font-size: 20px;
   color: #5c6d64;
}

h4 { 
  font-size: 18px;
   color: black;
}

p {
 font-size: 16px;
 color: black;
 line-height: 28px;
}

.main {
  margin: auto;
}

.button {
  background-color: #6495ED; 
  border: none;
  color: #f2f2f2;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.content {
  background-color: oldlace;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}

.content > h2 {
  font-size: 35px;
  color: #997a8d;
}

.content > h3 {
  font-size: 20px;
  color: #5c6d64;
}

.content > h4 { 
  font-size: 18px;
  color: black;
}

.content > img {
  float: none;
  margin-left: none;
}

.content > p {
  font-size: 16px;
  line-height: 30px;
  color: black;
}
