body {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  padding: 30px;
  background: #E5E5E5;

}

li {
  line-height: 28px;
  color: black;

}

.wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  gap: 100px;
  grid-auto-flow: row;
  justify-items: start;

}

.item {
  border: solid;
  border-color: #14213D;
  padding: 40px 80px 80px 80px;
  width: 350px;
  height: auto;
  border-radius: 12px;
  background-color: white;
  border-top: 30px solid #14213D;
  border-bottom: 10px solid #14213D;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  font-size: 30px;
  color: #14213D;
  text-align: center;

}

h2 {
  font-size: 24px;
  color: #007676;
}

h3 {
  font-size: 20px;
   color: #5c6d64;
}

h4 { 
  font-size: 18px;
   color: black;
}

p {
 font-size: 16px;
 color: black;
 line-height: 28px;
}

.tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #9dcc7a;border-collapse: collapse;}
.tftable th {font-size:12px;background-color:#abd28e;border-width: 1px;padding: 8px;border-style: solid;border-color: #9dcc7a;text-align:left;}
.tftable tr {background-color:#ffffff;}
.tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #9dcc7a;}

.main {
  margin: auto;
}

.button {
  background-color: #FCA311; 
  border: none;
  color: black;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 6px;
  cursor: pointer;
  border-radius: 20px;
  font: white;
}

.button-2 {
  background-color: #14213D  ; 
  border: none;
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 6px;
  cursor: pointer;
  border-radius: 20px;
  font: white;
}


.button-3 {
  background: #E5E5E5;
  border: none;
  color: black;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 6px;
  cursor: pointer;
  border-radius: 20px;
  font: white;
}

.content {
  background-color: oldlace;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}

.content > h2 {
  font-size: 35px;
  color: #997a8d;
}

.content > h3 {
  font-size: 20px;
  color: #5c6d64;
}

.content > h4 { 
  font-size: 18px;
  color: black;
}

.content > img {
  float: none;
  margin-left: none;
}

.content > p {
  font-size: 16px;
  line-height: 30px;
  color: black;
}
